<h1>New Invitation List</h1>

<%= form_tag rsvps_path do %>
<%= render 'fields', index: 0 %>

<%=
    button_tag 'Add invitation',
    type: 'button',
    id: 'add-invitation',
    data: { fields: render('fields', index: '__INDEX__').gsub('\n', '') }
%>
<%= submit_tag 'Submit' %>
<% end %>