<h1>Home</h1>

<% if !user_signed_in? %>
    <!-- Need to check for the presence of a token here for guest user -->
    <%= link_to 'Sign in', new_user_session_path %><br>
    <%= link_to 'Register', new_user_registration_path %>
<% else %>
    <h2>Hello there <%= current_user.username %></h2>
    <%= link_to 'log out', destroy_user_session_path, method: :delete %>
<% end %>