<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://github.com/kswedberg/jquery-smooth-scroll/blob/master/jquery.smooth-scroll.min.js"></script>

<script>
$('.smooth').on('click', function() {
    $.smoothScroll({
        scrollElement: $('body'),
        scrollTarget: '#' + this.id
    });
    
    return false;
});
</script>


<div id="page1">
  <a id="Home" class="smooth"></a>
  <div class="container">
    <div class="row">
      <div class="wedding-grid-item1 col-sm-12">
          <div class="title">Regit.</div>
          <div class="subtitle">Because managing your guests should be this easy.</div>
          <form class="main-page-form">
              <% if !user_signed_in? %>
                <%= link_to 'Sign in', new_user_session_path, :class => "btn btn-outline-light" %><br>
                <div class="form-group">
                  <form method="GET" action="/users/sign_up">
                    <%= link_to 'Create an account', new_user_registration_path, :class => "btn btn-outline-light" %>
                  </form>
                </div>
              <% else %>
                  <h2>Hi there, <%= current_user.username.titleize %></h2>
                  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
              <% end %>
          </form>
      </div>
    </div>
  </div>
</div>

<%# <div id="page2">
  <a id="About" class="smooth"></a>
    
    <section id="about" class="content-section text-center">
          <div class="container_mainbar2">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2>About Us</h2>
                <p>Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on
                  <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
                <p>This theme features stock photos by
                  <a href="http://gratisography.com/">Gratisography</a>
                  along with a custom Google Maps skin courtesy of
                  <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
              </div>
            </div>
          </div>
        </section>

</div>

<div id="page3">
  <a id="Contact" class="smooth"></a>
    
    <section id="about" class="content-section text-center">
          <div class="container_mainbar2">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <h2>Contact Us</h2>
                <p>Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on
                  <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.</p>
                <p>This theme features stock photos by
                  <a href="http://gratisography.com/">Gratisography</a>
                  along with a custom Google Maps skin courtesy of
                  <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
              </div>
            </div>
          </div>
    </section>

</div> %>

