<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hello there <%= @user.name %></h1>
    <p>
        You've been invited to some event by someone.
    </p>
    <p>
        Please RSVP at this link: <%= url %>.
    </p>
    <p>
        Have a nice day!
    </p>
</body>
</html>