/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 @import "variables";
 @import "base";
 @import "home";
 @import "users";
 @import "events";
 @import "rsvps";

html {
  width: 100%;
}

body {
	background-image: asset-url('anne-edgar-119384-unsplash.jpg');
	background-size: 100%;
	background-repeat: no-repeat;

}

/* Sticky footer styles */



.footer {
  position: absolute;
  text-align: center;
  font-family: "Brush Script MT", cursive;
  bottom: 0;
  color: white;
  width: 100%;
  /* Set the fixed height of the footer here */
  opacity: 1; // Leave this as 1
  background-color: rgba(0,0,0,0.6);
}

image {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.text-muted {
	font-size: 30px;
	color: white;
}

