// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container_index {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	color: white;
	padding-top: 2em;

}

.container_new {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	color: white;
	padding-top: 2em;
}
.row-of-buttons {
	width: 100%;
	text-align: center;
}
h31 {
	font-family: "Gloria Hallelujah", cursive;
	font-size: 2em;
}

h32 {
	font-family: "Gloria Hallelujah", cursive;
	font-size: 2em;
}

.section-2-title{
	margin-top: 2em;
}