// Place all the styles related to the rsvp_list controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container_rsvps_index {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	margin: 0 auto;
	color: white;
	padding-top: 210px;
	padding-right: 300px;

}

.container_rsvps_show {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	margin: 0 auto;
	color: white;
	padding-top: 210px;
	padding-right: 300px;

}

h41 {
	font-family: "Gloria Hallelujah", cursive;
	font-size: 50px;
}
