// Place all the styles related to the rsvp_list controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container_rsvps_index {
	color: white;
	padding-top: 2em;

}

.container_rsvps_show {
	color: white;
	padding-top: 2em;

}

.rsvps-grid-item2 {
	text-align: center;
}

h41 {
	font-family: "Gloria Hallelujah", cursive;
	font-size: 2em;
}
