<style>
  html, body {
    height: 100%;
    background: black;
  }

  #preview {
    width: 100%;
  }

  .wahlanthisbootstraplayoutcmilah {
    margin: 0 auto;
    width: 100%;
  }
</style>
  

<%= form_tag(event_attendance_scan_path(@event), id: "attendance-scanner", remote: true, method: :post) do %>
	<%= hidden_field_tag :key %>
<% end %>
<div class="wahlanthisbootstraplayoutcmilah">
  <video id="preview"></video>
</div>

<script>
  var QRScanner = {};

  function camStart() {

    QRScanner.scanner = new Instascan.Scanner({
      video: document.getElementById('preview'),
      scanPeriod: 5
    });
    
    function onDecode (content, image) {
      $('#key').val(content);
      Rails.fire($('#attendance-scanner')[0], 'submit');
    };

    QRScanner.scanner.addListener('scan', onDecode);
    
    Instascan.Camera.getCameras().then(function (cameras) {
      QRScanner.cameras = cameras;
      if (cameras.length > 0) {
        var last = cameras.length - 1;
        QRScanner.activeCameraId = cameras[last].id;
        QRScanner.scanner.start(cameras[last]);
        QRScanner.currentCameraNumber = last;
      } else {
        console.error('No cameras found.');
      }
    }).catch(function (e) {
      console.error(e);
    });

    QRScanner.camNext = function() {
      var last = this.cameras.length - 1;
      if (last === 0) return;
      if (this.currentCameraNumber === last) {
        this.currentCameraNumber = 0;
      } else {
        this.currentCameraNumber++;
      };
      this.scanner.start(this.cameras[this.currentCameraNumber]);
      this.activeCameraId = this.cameras[this.currentCameraNumber].id;
    };

  };

  camStart();
</script>