<h1>Event</h1>

<table border="solid">
  <tr>
    <th>DateTime</th>
    <th>Title</th>
    <th>Edit</th>
  </tr>
  
  <% @events.each do |event| %>
  <tr>
    <td><%= event.datetime%></td>
    <td><%= event.title%></td>
  </tr>
  <% end %>

</table>

<%= link_to 'Create Event', new_user_event_path(@user) %>
<%= link_to 'Back', user_path(@user) %>
